.mainbg {
   height: 45rem;
   object-fit: cover;
   position: absolute;
   top: -4rem;
   right: 0;
   z-index: -1;
   margin-top: 7rem;
}


.introText{
   color: rgb(247, 247, 247);
   font-family: Poppins ;
   font-size: 4rem;
   font-weight: 600;

}

.introContent {
   height: 100vh;
   width: 100vh;
   max-width: 85rem;
   margin: 0 4rem;
   overflow: hidden;
   padding: 2rem;
   font-size: 3rem;
   font-weight: 700;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start; 
   font-family: Poppins; 
}


.hello{
   font-size: 1.7rem;
   font-weight: 300;
}
.introName{
   color: gold;
   font-family: Roboto;
   padding: 3px;
   
}
.intropara{
   font-size:2rem;
   font-weight: 250;
   word-spacing: 1px;
   font-family: Poppins;
}
.introdesc{
   color: gold;
   font-family: Roboto ;
   font-size: 6rem;
   font-weight: 700;
   
}


.btn
{
   background: white;
   margin:1rem 0;
   padding: 0.75rem 1.5rem;
   border: none;
   border-radius: 2.5rem;
   font-size: 1.5rem;
   font-family:Poppins; 
   color: rgb(0, 0, 0);
}
.btn:hover{
   background: transparent;
   border:2px solid gold;
   color: gold;
}
.btnimg{
   object-fit: cover;
   margin: 0 0.25rem;
   height: 1.5rem;
}
.btnimg:hover{
   color: gold;
}

@media (max-width: 850px) {
   .mainbg {
     height: 0.001rem;
   }

   .introText {
      font-size: 2rem;
   }

   .introContent {
      width: 90vw;
      margin: 0 2rem;
      padding: 1rem;
      font-size: 1.5rem;
   }

   .hello {
      font-size: 1.2rem;
   }

   .intropara {
      font-size: 1.2rem;
   }

   .introdesc {
      font-size: 3rem;
   }

   .btn {
      margin: 0.5rem 0;
      padding: 0.5rem 1rem;
      font-size: 1rem;
   }

   .btnimg {
      height: 1rem;
   }
}
@media (max-width: 550px) {
   .mainbg {
      height:0.00001rem;
      
   }
}