.footer{
    width: 100vw;
    height: 4rem;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: 300;
    font-size: small;
    background: rgb(41, 40, 40);
}
@media only screen and (max-width: 390px) {
    .footer {
        height: 3.5rem;
        font-size: x-small;
    }
}